@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.main {

  

  height: auto;
  background-image: url("assets/code-back.jpg");
  /*background-image: url("assets/code-back2.jpg");*/
  background-size: 100% auto; /* Ensures the image fits the width of the container */
  background-attachment: fixed; /* Keeps the background fixed */
  background-position: center top; /* Centers the background image horizontally and aligns it to the top */
  background-repeat: no-repeat; /* Prevents the image from repeating */

}

.submain {
  padding-top: 40vh;

}

.social-comp {
  background-color: rgba(17, 17, 17, .8);
  justify-content: center;
  align-items: center;
}

.social-comp h1 {
  color: #D2D2D2;
  display: flex;
  justify-content: center;
  padding:40px;
  font-size:60px;
}
