@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.main {

  height:auto;
  /*background: gray;*/
  background-image: url("assets/backg.jpg");
  background-size: cover;
  background-attachment: fixed; /* Keeps the background fixed */
  background-position: center; /* Center the background image */

}
